{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="1000px" height="1000px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    var cxt = canvas.getContext('2d');
    var _x;
    var _y;
    var paintstat = false;
    var rdmcolor = getRandomColor();
    paper.setup(canvas);
    var tool = new paper.Tool();
    
  
    //make mouse functions
    tool.onMouseDown = function(event){
      paintstat = true;
      _x=event.point.x;
      _y=event.point.y;
    }
    
    tool.onMouseUp = function(event){
      paintstat = false;
    }
    
    
    tool.onMouseMove = function(event){
      if(paintstat){
        cxt.beginPath();
        var eachcolor = rdmcolor
        point = event.point;
        cxt.strokeStyle = eachcolor;
        cxt.moveTo(_x,_y);
        cxt.lineTo(point.x,point.y);
        cxt.lineWidth = 2;
        cxt.stroke();
        //create a var msg to send as a JSON object
        var msg ={
          status:paintstat,
          x1:_x,
          y1:_y,
          x2:point.x,
          y2:point.y,
          color:cxt.strokeStyle,
        }
      var sg=JSON.stringify(msg)
      socket.send(sg);
        _x = point.x;
        _y = point.y;
    }
    }
    
    
    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
//url == 'wss://p3-websockets-lishanggeng-lishanggeng506740.codeanyapp.com/draw/?size=large'
   
// create a new websocket connecting to the server
var socket = new WebSocket('wss://p3-websockets-lishanggeng-lishanggeng506740.codeanyapp.com/ws/draw');
// triggered when receiving a message from the server
socket.onmessage = function(receivedMessage) {
	// do something when you receive a message
  if (true){
    //url == 'http://p3-websockets-lishanggeng-lishanggeng506740.codeanyapp.com/draw/?size=large'
    cxt.beginPath();
    var receivedMessage = JSON.parse(receivedMessage.data);
    cxt.moveTo(receivedMessage.x1,receivedMessage.y1);
    cxt.lineTo(receivedMessage.x2,receivedMessage.y2);
    cxt.lineWidth = 2;
    cxt.strokeStyle = receivedMessage.color;
    cxt.stroke();
  }
};

// use when sending a message to the server

// notify console if socket closes unexpectedly
socket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};
  
  
  //1b
  function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}

  
  //2a
  
  if (window.DeviceMotionEvent){
    var entry = 2;
    var x = y= z= lastx = lasty= lastz= 0;
    window.addEventListener('devicemotion',function(){
          var acc = event.accelerationIncludingGravity;
          x=acc.x;
          y=acc.y;
          z=acc.z;
          if(Math.abs(x-lastx)>entry || Math.abs(y-lasty)>entry || Math.abs(z-lastz)>entry){     
            cxt.clearRect(0,0,canvas.width,canvas.height);}

          
  lastx = x;
  lasty = y;
  lastz = z;
  
  }, false);
  }else{
    alert('your device does not support shaking');
  }
  
  //2b
  window.addEventListener('deviceorientation',(event)=>{
    if(event.gamma >60){
      rdmcolor = '#FF0000';
      cxt.strokeStyle = rdmcolor;
    }
  }
                         );
                          
  
  


</script>
</html>